## Imports

In [ ]:
%pip install -r requirements.txt
# Load, explore and plot data
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import random
# Random Seed setzen:
random.seed(49)
np.random.seed(49)
SEED = 49

## Load Data

In [6]:
lyrics_df = pd.read_csv('lyrics-data.csv')
lyrics_df.head(2)

,ALink,SName,SLink,Lyric,language
0,/ivete-sangalo/,Arerê,/ivete-sangalo/arere.html,"Tudo o que eu quero nessa vida,\nToda vida, é\...",pt
1,/ivete-sangalo/,Se Eu Não Te Amasse Tanto Assim,/ivete-sangalo/se-eu-nao-te-amasse-tanto-assim...,Meu coração\nSem direção\nVoando só por voar\n...,pt

In [5]:
artist_df = pd.read_csv('artists-data.csv')
artist_df.head(2)

,Artist,Genres,Songs,Popularity,Link
0,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/
1,Chiclete com Banana,Axé,268.0,3.8,/chiclete-com-banana/

## Merge Data

In [7]:
# Zusammenführen der DataFrames anhand der 'ALink' Spalte in lyrics_df und der 'Link' Spalte in artist_df
df = pd.merge(lyrics_df, artist_df, left_on='ALink', right_on='Link')

# Anzeigen der ersten paar Zeilen des resultierenden DataFrames
df.head()

,ALink,SName,SLink,Lyric,language,Artist,Genres,Songs,Popularity,Link
0,/ivete-sangalo/,Arerê,/ivete-sangalo/arere.html,"Tudo o que eu quero nessa vida,\nToda vida, é\...",pt,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/
1,/ivete-sangalo/,Se Eu Não Te Amasse Tanto Assim,/ivete-sangalo/se-eu-nao-te-amasse-tanto-assim...,Meu coração\nSem direção\nVoando só por voar\n...,pt,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/
2,/ivete-sangalo/,Céu da Boca,/ivete-sangalo/chupa-toda.html,É de babaixá!\nÉ de balacubaca!\nÉ de babaixá!...,pt,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/
3,/ivete-sangalo/,Quando A Chuva Passar,/ivete-sangalo/quando-a-chuva-passar.html,Quando a chuva passar\n\nPra quê falar\nSe voc...,pt,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/
4,/ivete-sangalo/,Sorte Grande,/ivete-sangalo/sorte-grande.html,A minha sorte grande foi você cair do céu\nMin...,pt,Ivete Sangalo,Pop; Axé; Romântico,313.0,4.4,/ivete-sangalo/

In [8]:
df.nunique()

ALink           4161
SName         266677
SLink         378949
Lyric         370290
language          51
Artist          4161
Genres          1747
Songs            406
Popularity       216
Link            4161
dtype: int64

## Data Preprocessing

In [11]:
scrape_df = df.drop(["ALink","SLink", "Songs", "Popularity", "Link", "Genres"], axis=1)
scrape_df.rename(columns={'SName': 'Name', 'language': 'Language'}, inplace=True)
scrape_df.head(5)

,Name,Lyric,Language,Artist
0,Arerê,"Tudo o que eu quero nessa vida,\nToda vida, é\...",pt,Ivete Sangalo
1,Se Eu Não Te Amasse Tanto Assim,Meu coração\nSem direção\nVoando só por voar\n...,pt,Ivete Sangalo
2,Céu da Boca,É de babaixá!\nÉ de balacubaca!\nÉ de babaixá!...,pt,Ivete Sangalo
3,Quando A Chuva Passar,Quando a chuva passar\n\nPra quê falar\nSe voc...,pt,Ivete Sangalo
4,Sorte Grande,A minha sorte grande foi você cair do céu\nMin...,pt,Ivete Sangalo

In [12]:
len(scrape_df)

378988

In [13]:
scrape_df.isna().sum()

Name            3
Lyric          77
Language    14586
Artist          1
dtype: int64

Alle Observation (Zeilen) rausschmeißen bei dnen die Lyrics NaN sind. Leere Lyrics bringen uns nichts:

In [14]:
scrape_df = scrape_df.dropna(subset=['Lyric'])

In [15]:
scrape_df.isna().sum()

Name            2
Lyric           0
Language    14509
Artist          0
dtype: int64

## Genereate Label