Übersetzen
To-Dos (Preprocessing):
0. removed duplicate songs
1. Contractions (I'm -> I am) 
2. Tokenisierung (NLKT, Gensim, spaCy)
3. Spelling Correction
4. POS-Tagging
5. Stemming / Lemmatisierung (mit Spacy)
6. Lowercasing
7. Balance Data - Sprich dass alle Labels gleich viel Daten haben
8. word order??


Word2Vec and Word2Vec with TFID

To-Dos (EDA):
- Schaue Folie
1. analyzed word counts (Only 27 of the rock words and 10 of the pop words out of the 300 most frequently appearing words
for those genres were unique to those genres, suggesting that a bag-of-words embedding or a machine
learning model that didn’t utilize the order of the words would not be very effective.)

- Plots (This plots the words and their respective counts in the pop genre that are not part of the
top 300 words for hip hop or rock.)

To-Dos (Feature Engineering):
-  One-Hot Encoding (Sätze)
- Bag-of-Words (BoW) (ist eine Methode zur Darstellung von Textdaten in numerischer Form)
- N-Grams
- TF-IDF (statistische Methode zur Bewertung der Wichtigkeit eines Wortes)
- Cosine Similarity – Wortähnlichkeiten berechnen
- Embeeding mit (Word2Vec,GloVe,fastText )

## Imports

In [49]:
%pip install -r requirements.txt
# Load, explore and plot data
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import nltk
from nltk.corpus import stopwords
import re

######## SEED setzen
import random
# Random Seed setzen:
random.seed(49)
np.random.seed(49)
SEED = 49

Requirement already satisfied: absl-py==2.1.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: asttokens==2.4.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 2)) (2.4.1)
Requirement already satisfied: astunparse==1.6.3 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 3)) (1.6.3)
Requirement already satisfied: certifi==2024.2.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 4)) (2024.2.2)
Requirement already satisfied: charset-normalizer==3.3.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: click==8.1.7 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 6)) (8.1.7)
Requirement already satisfied: contourpy==1.2.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 7)) (1.2.1)
Requirement already satisfied: cycler==0.12.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 8)) (0.12.1)
Requirement already satisfied: flatbuffers==24.3.25 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 9)) (24.3.25)
Requirement already satisfied: fonttools==4.51.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 10)) (4.51.0)
Requirement already satisfied: gast==0.5.4 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 11)) (0.5.4)
Requirement already satisfied: google-pasta==0.2.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 12)) (0.2.0)
Requirement already satisfied: grpcio==1.62.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 13)) (1.62.1)
Requirement already satisfied: h5py==3.11.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 14)) (3.11.0)
Requirement already satisfied: idna==3.7 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 15)) (3.7)
Requirement already satisfied: joblib==1.4.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 16)) (1.4.0)
Requirement already satisfied: keras==3.2.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 17)) (3.2.1)
Requirement already satisfied: kiwisolver==1.4.5 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 18)) (1.4.5)
Requirement already satisfied: libclang==18.1.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 19)) (18.1.1)
Requirement already satisfied: markdown==3.6 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 20)) (3.6)
Requirement already satisfied: markdown-it-py==3.0.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 21)) (3.0.0)
Requirement already satisfied: markupsafe==2.1.5 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 22)) (2.1.5)
Requirement already satisfied: matplotlib==3.8.4 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 23)) (3.8.4)
Requirement already satisfied: mdurl==0.1.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 24)) (0.1.2)
Requirement already satisfied: ml-dtypes==0.3.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 25)) (0.3.2)
Requirement already satisfied: namex==0.0.7 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 26)) (0.0.7)
Requirement already satisfied: nltk==3.8.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 27)) (3.8.1)
Requirement already satisfied: numpy==1.26.4 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 28)) (1.26.4)
Requirement already satisfied: opt-einsum==3.3.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 29)) (3.3.0)
Requirement already satisfied: optree==0.11.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 30)) (0.11.0)
Requirement already satisfied: pandas==2.2.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 31)) (2.2.2)
Requirement already satisfied: pillow==10.3.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 32)) (10.3.0)
Requirement already satisfied: protobuf==4.25.3 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 33)) (4.25.3)
Requirement already satisfied: psutil==5.9.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 34)) (5.9.0)
Requirement already satisfied: pyparsing==3.1.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 35)) (3.1.2)
Requirement already satisfied: python-dateutil==2.9.0.post0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 36)) (2.9.0.post0)
Requirement already satisfied: pytz==2024.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 37)) (2024.1)
Requirement already satisfied: regex==2023.12.25 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 38)) (2023.12.25)
Requirement already satisfied: requests==2.31.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 39)) (2.31.0)
Requirement already satisfied: rich==13.7.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 40)) (13.7.1)
Requirement already satisfied: scikit-learn==1.4.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 41)) (1.4.2)
Requirement already satisfied: scipy==1.13.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 42)) (1.13.0)
Requirement already satisfied: seaborn==0.13.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 43)) (0.13.2)
Requirement already satisfied: six==1.16.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 44)) (1.16.0)
Requirement already satisfied: tensorboard==2.16.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 45)) (2.16.2)
Requirement already satisfied: tensorboard-data-server==0.7.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 46)) (0.7.2)
Requirement already satisfied: tensorflow==2.16.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 47)) (2.16.1)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 48)) (2.16.1)
Requirement already satisfied: termcolor==2.4.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 49)) (2.4.0)
Requirement already satisfied: threadpoolctl==3.4.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 50)) (3.4.0)
Requirement already satisfied: tornado==6.3.3 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 51)) (6.3.3)
Requirement already satisfied: tqdm==4.66.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 52)) (4.66.2)
Requirement already satisfied: typing-extensions==4.11.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 53)) (4.11.0)
Requirement already satisfied: urllib3==2.2.1 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 54)) (2.2.1)
Requirement already satisfied: werkzeug==3.0.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 55)) (3.0.2)
Requirement already satisfied: wheel==0.41.2 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 56)) (0.41.2)
Requirement already satisfied: wordcloud==1.9.3 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 57)) (1.9.3)
Requirement already satisfied: wrapt==1.16.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from -r requirements.txt (line 58)) (1.16.0)
Requirement already satisfied: colorama in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from click==8.1.7->-r requirements.txt (line 6)) (0.4.6)
Requirement already satisfied: packaging>=20.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from matplotlib==3.8.4->-r requirements.txt (line 23)) (24.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from pandas==2.2.2->-r requirements.txt (line 31)) (2024.1)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from rich==13.7.1->-r requirements.txt (line 40)) (2.17.2)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\ivan\miniconda3\envs\nlp\lib\site-packages (from tensorboard==2.16.2->-r requirements.txt (line 45)) (68.2.2)
Note: you may need to restart the kernel to use updated packages.

## Load Data

### Dataset 1

In [50]:
df_single_label = pd.read_csv('preprocessed_single_label.csv')
df_single_label.head(2)

,Unnamed: 0,Titel,Lyric,Artist,Genres
0,1719,I Miss Her,oh lord id like know thinks oh oh lord wanna g...,Olodum,Axé
1,1766,They Don't Care About Us,skin head dead head everybody gone bad situati...,Olodum,Axé

In [51]:
df_single_label.drop("Unnamed: 0", axis=1, inplace=True)
df_single_label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42760 entries, 0 to 42759
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Titel   42758 non-null  object
 1   Lyric   42758 non-null  object
 2   Artist  42760 non-null  object
 3   Genres  42760 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [52]:
df_single_label.isna().sum()

Titel     2
Lyric     2
Artist    0
Genres    0
dtype: int64

In [53]:
df_single_label = df_single_label.dropna(subset=['Lyric'])
df_single_label.isna().sum()

Titel     2
Lyric     0
Artist    0
Genres    0
dtype: int64

### Dataset 2

In [54]:
df_split_label = pd.read_csv('preprocessed_split_label.csv')
df_split_label.head(2)

,Unnamed: 0,Titel,Lyric,Artist,Genres
0,69,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Pop
1,69,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Axé

In [55]:
df_split_label.drop("Unnamed: 0", axis=1, inplace=True)
df_split_label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481895 entries, 0 to 481894
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Titel   481893 non-null  object
 1   Lyric   481890 non-null  object
 2   Artist  481895 non-null  object
 3   Genres  481895 non-null  object
dtypes: object(4)
memory usage: 14.7+ MB

In [56]:
df_split_label.isna().sum()

Titel     2
Lyric     5
Artist    0
Genres    0
dtype: int64

In [57]:
df_split_label = df_split_label.dropna(subset=['Lyric'])
df_split_label.isna().sum()

Titel     2
Lyric     0
Artist    0
Genres    0
dtype: int64

## EDA

### Dataset 1

Lyric Count Variable:

In [58]:
df_single_label['Lyric_count'] = df_single_label['Lyric'].map(lambda x: len(x.split()))
df_single_label.head(2)

,Titel,Lyric,Artist,Genres,Lyric_count
0,I Miss Her,oh lord id like know thinks oh oh lord wanna g...,Olodum,Axé,63
1,They Don't Care About Us,skin head dead head everybody gone bad situati...,Olodum,Axé,265

Normalisieren der Lyrics fürs plotting

In [59]:
df_single_label['Count_norm'] = df_single_label['Lyric_count'] / df_single_label['Lyric_count'].max()
df_single_label['Count_norm'] = df_single_label['Count_norm'].map(lambda x: x*55)
df_single_label.head(2)

,Titel,Lyric,Artist,Genres,Lyric_count,Count_norm
0,I Miss Her,oh lord id like know thinks oh oh lord wanna g...,Olodum,Axé,63,2.547794
1,They Don't Care About Us,skin head dead head everybody gone bad situati...,Olodum,Axé,265,10.716912

### Dataset 2

In [60]:
df_split_label['Lyric_count'] = df_split_label['Lyric'].map(lambda x: len(x.split()))
df_split_label.head(2)

,Titel,Lyric,Artist,Genres,Lyric_count
0,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Pop,164
1,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Axé,164

In [61]:
df_split_label['Count_norm'] = df_split_label['Lyric_count'] / df_split_label['Lyric_count'].max()
df_split_label['Count_norm'] = df_split_label['Count_norm'].map(lambda x: x*55)
df_split_label.head(2)

,Titel,Lyric,Artist,Genres,Lyric_count,Count_norm
0,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Pop,164,3.653301
1,Careless Whisper,feel unsure take hand lead dance floor music d...,Ivete Sangalo,Axé,164,3.653301